name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  backend:
    runs-on: backend

    steps:
      - name: Pull Docker backend image
        run: sudo docker pull youssefelmajdoul/rentcaremirats-backend:latest
      - name: Delete Docker backend container
        run: sudo docker rm -f rentcaremirats-backend || true
      - name: Run Docker container
        run: sudo docker run -d -p 80:8080 --name rentcaremirats-backend youssefelmajdoul/rentcaremirats-backend:latest

  frontend:
    runs-on: frontend

    steps:
      - name: Pull Docker frontend image
        run: sudo docker stop rentcaremirats-frontend
      - name: Delete Docker frontend container
        run: sudo docker rm -f rentcaremirats-frontend || true
      - name: Pull Docker frontend image
        run: sudo docker pull youssefelmajdoul/rentcaremirats-frontend:latest
      - name: Run Docker container
        run: sudo docker run -d -p 90:9000 --name rentcaremirats-frontend youssefelmajdoul/rentcaremirats-frontend:latest
